<div class="hero-unit">
  <h1>Dashboard</h1>
  <p>You now have these awesome packages installed:</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>Try out the dialogs by clicking on the buttons below:</p>
  <div ng-controller="DialogsCtrl">
  	<button type="button" class="btn btn-primary" ng-click="showDialog('history')">Open History Dialog</button>
  	<button type="button" class="btn btn-primary" ng-click="showDialog('go-live')">Open Go-Live Dialog</button>
  </div>
</div>
