<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/dashboard.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/dashboard.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angularDemoApp">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="components/es5-shim/es5-shim.js"></script>
      <script src="components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid" ng-view></div>

    <div class="dialog history">
      <div class="modal-header">
        <h3>Version History</h3>
      </div>
      <div class="modal-body">
        <div class="intro">
          <span>History shown for:<b class="item in-progress">Shampoos</b></span>
        </div>
        <div class="version-history">
          <table>
            <thead>
              <tr>
                <th class="version">Version</th>
                <th class="date-time">Edit Time</th>
                <th class="author">Edited By</th>
                <th class="comment">Comment</th>
                <th class="action">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="version">1.1</td>
                <td class="date-time">
                  <span class="date">5/22/13</span>
                  <span class="time">04:23 PM</span>
                </td>
                <td class="author">admin</td>
                <td class="comment">Change copyright</td>
                <td class="action">
                  <a href="#">Revert</a>
                </td>
              </tr>
              <tr>
                <td class="version">1.0</td>
                <td class="date-time">
                  <span class="date">5/21/13</span>
                  <span class="time">06:30 PM</span>
                </td>
                <td class="author">admin</td>
                <td class="comment">Update promos</td>
                <td class="action">
                  <a href="#">Revert</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click="close()" class="btn btn-primary">Close</button>
      </div>
    </div>

    <div class="dialog go-live">
      <div class="modal-header">
        <h3>Go Live</h3>
      </div>
      <div class="modal-body">
        <div class="intro">
          <span>Check the items you wish to deploy.</span>
          <span>Any file dependencies will automatically be checked for you.</span>
        </div>
        <form>
          <div class="options">
            <div class="channel">
              <label for="pub-channel">Deploy to:</label>
              <select id="pub-channel">
                <option>Production</option>
                <option>Staging</option>
              </select>
            </div>
            <div class="message">
              <label for="pub-msg">
                  <span>Message to broadcast</span>
              </label>
              <textarea id="pub-msg" name="pub-msg"></textarea>
            </div>
          </div>
          <div class="file-listing">
            <table>
              <thead>
                <tr>
                  <th class="file-name">File Name</th>
                  <th class="action"><a href="#" title="Time you wish the files to be deployed">Go Live</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="file-name indent-0"><span title="/Home/Products">Products</span></td>
                  <td class="action"><a href="#">Now</a></td>
                </tr>
                <tr>
                  <td class="file-name indent-1"><span title="/Home/Products/Shampoos">Shampoos</span></td>
                  <td class="action"><a href="#">Now</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="close()" class="btn btn-primary">Go Live</button>
        <button ng-click="close()" class="btn btn-primary">Cancel</button>
      </div>
    </div>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/dashboard/dashboard.js"></script>
    <script src="scripts/dialogs/dialogs.js"></script>
    <script src="scripts/dialogs/go-live/go-live.js"></script>
    <script src="scripts/dialogs/history/history.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
